#wpwrap {
  background-color: #ffffff;
}

.pv_bexio_connector_main {
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  margin: 20px 0;
  padding: 15px 25px;
  background-color: #f9f9fa;
}

.form-table th,
.form-table td {
  vertical-align: top;
  padding-top: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #ccc;
}

.form-table th {
  padding-right: 25px;
}
